@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

@import './stylesheets/responsive.css';
@import './stylesheets/index.css';


:root {
  --base-color: #E4D1B8;
  --secondary-color: #FFCF00;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: var(--base-color);
  overflow-x: hidden;
}